
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;

    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    --goblin-font: 1.2rem;
    --soft-corner: 0.3rem;
    --round-corner: 1rem;
    
    font-family: 'Titillium Web', sans-serif;
    /* font-family: 'Press Start 2P', cursive; */
    background-color: var(--color2);
}
header {
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: calc(var(--footer-height));
    background-image: url('../assets/forest.jpg');

}

.player img {
    width: 250px;
}

.player.dead {
    transform: rotate(90deg);
}

#goblinSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.challengeForm {
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    
}
.challengeForm input {
    padding: .5rem;
    padding-left: 2rem;
    border-radius: var(--round-corner) var(--soft-corner) var(--soft-corner) var(--round-corner);
    margin: 0;
    font-size: var(--goblin-font);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.challengeForm button {
    margin: 0;
    background-color: lightblue;
    border-radius: var(--soft-corner) var(--round-corner) var(--round-corner) var(--soft-corner);
    font-size: var(--goblin-font);
}

.challengeForm button:hover {
    background-color: rgb(20, 139, 212);
    cursor: pointer;
}

.goblin {
    padding: 1em;
    border: 3px solid black;
    border-radius: 1rem;
    margin: 1rem;
    margin-left: 5rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    background-color: #A89F68;
}

.goblin:hover {
    background-color: rgb(143, 150, 156);
    /* cursor: pointer; */
    cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo15.cur), default !important;
}

.goblin p {
    margin: 0;
    padding: 0;
}

#score {
    padding: 1em;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    background-color: #235e02;
    color: #ffffff;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

#playerHP {
    padding: 1em;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    background-color: #BE191B;
    color: #660000;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}


  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
